* {
  padding: 0%;
  margin: 0%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #ffcab1;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  margin: 0px 10vh;
}
@media only screen and (max-width: 640px) {
  .navbar {
    font-size: 30px;
    margin: 0px 3vw;
  }
  .navbar img {
    height: 50px;
    width: 50px;
  }
}

.quiz {
  display: flex;
  flex-direction: column;
  margin: 5px 10vh;
}
.quiz img {
  width: 450px;
  height: 450px;
  margin: 30px;
}
.quiz_box {
  border-radius: 30px;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px;
}
.quiz_question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.quiz_answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.quiz_answer {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  font-size: 30px;
  margin: 10px;
}
.quiz_answer:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
@media only screen and (max-width: 640px) {
  .quiz {
    margin: 0px;
  }
  .quiz img {
    width: 250px;
    height: 250px;
  }
}

.proceed {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
}
@media only screen and (max-width: 640px) {
  .proceed {
    font-size: 1.2rem;
  }
}
.proceed_timer {
  padding: 10px;
  margin: 15px;
}
@media only screen and (max-width: 640px) {
  .proceed_timer {
    margin: 5px;
  }
}
.proceed_nextQ {
  background-color: rgba(162, 227, 196, 0.3137254902);
  padding: 5px;
  border-radius: 20px;
  font-size: 1.5rem;
}
@media only screen and (max-width: 640px) {
  .proceed_nextQ {
    font-size: 1rem;
  }
}
